doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/main.css")
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        title MFEE16 Express Practice

        //- scripts 為自訂
        block scripts 

    body 
        include header
        #content 
            block content 
        include footer 