extends ../_layouts/master

block content 
    h1 stock list page 

    table
        tr 
            th stock code 
            th stock name 
        each stock in stocks 
            tr
                td 
                    a(href=`/stock/${stock.stock_id}`) #{stock.stock_id}
                td #{stock.stock_name}